*.DS_Store
bower_components
node_modules
.sass-cache
/vendor/
theme/config.php
.ftppass
assets/*.jpg
assets/*.png
theme/config.php


.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
