/* button styles */

.btn {
    border-radius: 0;
    font-family: $headings-font-family;
    @extend %transition;
    &.btn-default {

        &.black{
            background-color: $headings-color;
            border-color: $headings-color;
            color: $white;

            &.primary-color{
                color: $brand-primary;

                &:hover,
                &:focus{
                    color: $white;
                }
            }

            &:hover,
            &:focus{
                background-color: $brand-primary;
            }

            &.outline{
                background-color: transparent;
                color: $headings-color;
            }
        }

        &.white{
            background-color: $white;
            border-color: $white;
            color: $headings-color;

            &.primary-color{
                color: $brand-primary;

                &:hover,
                &:focus{
                    color: $white;
                }
            }

            &.outline{
                background-color: transparent;
                color: $white;
            }
        }

        &:hover,
        &:focus {
            background-color: $brand-primary;
            border-color: $brand-primary;
            color: $white;
        }
    }

    &.radius {
        border-radius: 25px;
    }

    &.shadow{
        box-shadow: 1px 2px 2px rgba(0,0,0,0.1);
    }

    &.btn-lg {
        border-width: 0.125rem;
        font-weight: 600;

        @include media-breakpoint-up(sm) {
            padding: .5rem 2.25rem;
            font-size: $font-size-base;
        }

        @include media-breakpoint-up(lg) {
            padding: .75rem 2.75rem;
            font-size: $font-size-base;
        }

        @include media-breakpoint-up(xl) {
            padding: .9375rem 3.125rem;
            font-size: $font-size-base*1.125;
        }

        @include media-breakpoint-down(sm) {
            padding: .4375rem 2rem;
            font-size: $font-size-base*0.875;
        }
    }
    &.btn-md {
        border-width: 0.125rem;
        font-size: .875rem;
        font-weight: 500;
        @include media-breakpoint-up(sm) {
            padding: .5rem 1.75rem;
        }
        @include media-breakpoint-up(xl) {
            padding: 0.6rem  2rem;
        }
        @include media-breakpoint-down(sm) {
            padding: 0.375rem 1.625rem;
            font-size: $font-size-base*0.875;
        }
    }
}